<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>吉卡來 Mail template</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- vue.js-->
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body style="margin:40px 0;">
    <div class="form-group" style="width:80%;">
      <label for="" class="col-sm-2 control-label text-right">錄音檔網址</label>
      <div id="stturl"><input v-model="url" style="margin-right:10px;"><button class="btn btn-default btn-sm" v-on:click="getSTT">STT翻譯機</button><a href="https://whoscallpocsrvr.evox.com.tw/" target="_blank" style="margin-left:10px">查詢錄音檔連結</a></div>
    </div>
    <form class="form-horizontal" style="width:80%;margin-top:30px;" id="myform">
      <div class="form-group">
        <label for="ownerName" class="col-sm-2 control-label">使用者名稱</label>
        <div class="col-sm-10">
          <input class="form-control" id="ownerName" placeholder="" v-model="ownerName">
        </div>
      </div>
      <div class="form-group">
        <label for="ownerPhone" class="col-sm-2 control-label">使用者電話</label>
        <div class="col-sm-10">
          <input class="form-control" id="ownerPhone" placeholder="" v-model="ownerPhone">
        </div>
      </div>
      <div class="form-group">
        <label for="incomingName" class="col-sm-2 control-label">來電名稱</label>
        <div class="col-sm-10">
          <input class="form-control" id="incomingName" placeholder="" v-model="incomingName">
        </div>
      </div>
      <div class="form-group">
        <label for="incomingPhone" class="col-sm-2 control-label">來電電話</label>
        <div class="col-sm-10">
          <input class="form-control" id="incomingPhone" placeholder="" v-model="incomingPhone">
        </div>
      </div>
      <div class="form-group">
        <label for="callTime" class="col-sm-2 control-label">時間</label>
        <div class="col-sm-10">
          <input class="form-control" id="callTime" placeholder="201707091320" v-model="callTime">
        </div>
      </div>
      <div class="form-group">
        <label for="content" class="col-sm-2 control-label">留言內容</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="content" v-model="content"></textarea>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label"></label>
        <div class="col-sm-10" style="padding-top: 7px;">
          <p class="text-danger">請勿試按滿意/不滿意連結</p>
        </div>
      </div>
      <div class="form-group">
        <label for="mailTitle" class="col-sm-2 control-label">主旨</label>
        <div class="col-sm-10" id="mailTitle" style="padding-top: 7px;">
          【代接來電】{{incomingPhone}} {{incomingName}}
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="col-sm-2 control-label">內容</label>
        <div class="col-sm-10" id="contentTabs">
          <ul class="nav nav-tabs" role="tablist" style="margin-bottom:16px;">
            <li role="presentation" class="active"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">預覽</a></li>
            <li role="presentation"><a href="#raw" aria-controls="raw" role="tab" data-toggle="tab">原始碼</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="preview">
              <div>Hi, {{ownerName}}</br>您有新的代接來電！</br></br>來電時間</br>{{callTime | timeparser}}</br></br>來電號碼</br>{{incomingPhone}}&nbsp;{{incomingName}}</br></br>留言訊息</br>{{content}}</br></br>您覺得本次訊息是否準確？</br><a v-bind:href="'https://moneycall-response.firebaseapp.com/?ownNumber='+ownerPhone+'&inNumber='+incomingPhone+'&time='+callTime+'&cmt=1'">滿意</a>/<a v-bind:href="'https://moneycall-response.firebaseapp.com/?ownNumber='+ownerPhone+'&inNumber='+incomingPhone+'&time='+callTime+'&cmt=0'">不滿意</a></br></br>以上服務由 Gogolook Moneycall 提供，所有資料存取皆受到加密保護。</br>使用時如有任何疑問，歡迎隨時與我們聯繫：moneycall.gogolook@gmail.com</br>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="raw">
              <textarea class="form-control" style="height:200px;">Hi, {{ownerName}}</br>您有新的代接來電！</br></br>來電時間</br>{{callTime | timeparser}}</br></br>來電號碼</br>{{incomingPhone}}&nbsp;{{incomingName}}</br></br>留言訊息</br>{{content}}</br></br>您覺得本次訊息是否準確？</br><a href="https://moneycall-response.firebaseapp.com/?ownNumber={{ownerPhone}}&inNumber={{incomingPhone}}&time={{callTime}}&cmt=1'">滿意</a>/<a v-bind:href="https://moneycall-response.firebaseapp.com/?ownNumber={{ownerPhone}}&inNumber={{incomingPhone}}&time={{callTime}}&cmt=0'">不滿意</a></br></br>以上服務由 Gogolook Moneycall 提供，所有資料存取皆受到加密保護。</br>使用時如有任何疑問，歡迎隨時與我們聯繫：moneycall.gogolook@gmail.com</br>
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
  <script type="text/javascript">
    $(function(){
      $('#contentTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
      var stturl = new Vue({
        el: '#stturl',
        data: {
          url: ''
        },
        methods: {
          getSTT:function(event){
            $.ajax({
              url: "https://moneycall-staging.whoscall.com/tools/stt",
              type: "POST",
              data: JSON.stringify({'url': this.url}),
              dataType: "json",
              contentType: "application/json; charset=utf-8",
              success: function( rsp ) {
                alert( rsp );
              }
            })
          }
        }
      })
      var mailTitle = new Vue({
        el: '#myform',
        data: {
          ownerName: '',
          ownerPhone: '',
          incomingName: '',
          incomingPhone: '',
          callTime: '',
          content: ''
        },
        filters: {
          timeparser:function(value) {
            if (value.toString() == '') return '';
            value = value.toString();
            return value.substr(0,4)+"-"+value.substr(4,2)+"-"+value.substr(6,2)+" "+value.substr(8,2)+":"+value.substr(10,2);
          }
        }
      })
    })
  </script>
</html>
