
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */



body {
  margin:0;
}

a {
  color:#777;
  text-decoration: none;
}

li {
  list-style: none;
}

#navbar {
  display: inline-block;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-nav {
  float: left;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-nav > li > a:hover, .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

body > .container {
  padding: 30px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f8f8f8;
}
