@import url(http://fonts.googleapis.com/css?family=Lato|Questrial);
/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Questrial","Lato","微軟正黑體","蘋果儷中黑","Helvetica Neue","Helvetica","Lucida Sans Unicode","Lucida Grande","sans-serif";
  font-weight:400;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Questrial","Lato","微軟正黑體","蘋果儷中黑","Questrial","Helvetica Neue","Helvetica","Lucida Sans Unicode","Lucida Grande","sans-serif";
}
a,a:focus{
 outline: none !important; /* for Firefox */
 hlbr:expression(this.onFocus=this.blur()); /* for IE */
}
.desc{font-family:"Lato","微軟正黑體","蘋果儷中黑";}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.btn-green{
  background:#99d91e;
  color:#fff;
}
.btn-green.btn:hover,.btn-green.btn:focus{
  color:#fff;
}
/* Side Menu */

#sidebar-wrapper {
  background: none repeat scroll 0 0 #fff;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom:1px solid #bfbfbf;
}

.sidebar-nav {
  margin: 0 auto;
  max-width: 960px;
  top: 0;
  list-style: none;
  padding: 0;
  text-align:center;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  float:left;
}

.sidebar-nav li a {
  color: #939393;
  display: block;
  text-decoration: none;
  line-height: 60px;
  font-size:1.6rem;
}

.sidebar-nav li {
  border-top: #fff 1px solid;
}

.sidebar-nav li:nth-child(2) {
  border-top: none;
}

.sidebar-nav li a:hover {
  color: #000;
  text-decoration: none;
}

.nav > li > a:hover, .nav > li > a:focus
{
  background:none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-wrapper {
	background-color: #fff;
    height: 62px;
    position: fixed;
    width: 100%;
	z-index: 1;
  border-bottom:1px solid #bfbfbf;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

.toggle {
  margin: 5px 5px 0 0;
}
.nav-pills > li > a
{
  color:#fff;
  font-size:9pt;
}
.nav-pills > li > a:hover
{
  color:#3e3e3e;
}
.btn-primary,.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary
{
  background-color: #b4b4b4;
  border-color: #b4b4b4;
}
.pd{
  padding: 0;
  li{
    list-style: none;
    border: none;
  }
}
.xs-logo{
  height:60px;line-height: 60px;background: #fff;margin-left: 20px;position: fixed;z-index: 2;
}
/*wrapper*/
#wrapper{
	/*height: 100%;*/
	padding-top: 60px;
	width: 100%;
	display: block;
}
	//display: inline-block;
.margin20{margin:20px;}
.margint20{margin-top:20px;}
.marginr10{margin-right:10px;}
.inline{display:inline;}
.inlineblock{display:inline-block;}
.floatr{float:right;}
.floatl{float:left;}
.vertical-mid{ display:table-cell;vertical-align:middle; }
.vertical-mid span{ height:100%; display:inline-block;}
.vertical-mid *{ vertical-align:middle; }
/* Footer */

footer {
  padding: 0;
  margin-top: 20px;
  background: #fff;
  .container{padding: 20px 0;width:100%;border-top:1px solid #bfbfbf;}
  .row{
	margin:0 auto;
  max-width:960px;
  }
  #newsletter{
    display:inline-block;
    float:right;
  }
  .icons{
  display: inline-block;
  height: 45px;
  margin-left: 207px;}
  .list-inline > li{padding-right:3px;}
  .icon_fb{margin-left:5px;background: url("/img/05_MOOY_CHECKOUT_1920_01222015_03.jpg") no-repeat scroll 0 7px; height: 45px; width: 31px;}
  .icon_fb:hover{background: url("/img/05_MOOY_CHECKOUT_1920_01222015_h_03.jpg") no-repeat scroll 0 7px; height: 45px; width: 31px;}
  .icon_google{margin-left:5px;background: url("/img/05_MOOY_CHECKOUT_1920_01222015_05.jpg") no-repeat scroll 0 7px; height: 45px; width: 31px;}
  .icon_google:hover{background: url("/img/05_MOOY_CHECKOUT_1920_01222015_h_05.jpg") no-repeat scroll 0 7px; height: 45px; width: 31px;}
  .icon_twitter{margin-left:5px;background: url("/img/05_MOOY_CHECKOUT_1920_01222015_07.jpg") no-repeat scroll 0 7px; height: 45px; width: 31px;}
  .icon_twitter:hover{background: url("/img/05_MOOY_CHECKOUT_1920_01222015_h_07.jpg") no-repeat scroll 0 7px; height: 45px; width: 31px;}
  .icon_pin{margin-left:5px;background: url("/img/05_MOOY_CHECKOUT_1920_01222015_09.jpg") no-repeat scroll 0 7px; height: 45px; width: 31px;}
  .icon_pin:hover{background: url("/img/05_MOOY_CHECKOUT_1920_01222015_h_09.jpg") no-repeat scroll 0 7px; height: 45px; width: 31px;}
  .icon_t{margin-left:5px;background: url("/img/05_MOOY_CHECKOUT_1920_01222015_11.jpg") no-repeat scroll 0 7px; height: 45px; width: 31px;}
  .icon_t:hover{background: url("/img/05_MOOY_CHECKOUT_1920_01222015_h_11.jpg") no-repeat scroll 0 7px; height: 45px; width: 31px;}
  .icon_ig{margin-left:5px;background: url("/img/MOOY_igS.png") no-repeat scroll 0 7px; height: 45px; width: 31px;}
  .icon_ig:hover{background: url("/img/MOOY_igS2.png") no-repeat scroll 0 7px; height: 45px; width: 31px;}
}

.cht,.en{display:none;}

/*utility*/
.clear{
  clear:both;
}
.bold{
  font-weight: 700;
}
/* Responsive */

@media (max-width: 1200px) {
  /*.md-text-center{
    text-align:center;
  }*/
}

@media (min-width: 768px) {
  #lang{
    float:right;
    right: 80px;
  }
  #cart{
    float:right;
    right: 20px;
  }
}

@media (max-width: 768px) {
  footer .icons {
    margin-left: 100px;
  }
}
@media (max-width: 767px) {
  #sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    top:60px;
    width: 250px;
    background: #b9b9b9;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  #sidebar-wrapper.active {
    right: 250px;
    width: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .sidebar-nav li {
    width: 210px;
    margin: 0 auto;
    text-indent: 0;
    float:none;
    #cart{
      background-color:#999;
    }
  }
  footer{
    .row{width:320px;}
    #newsletter{
      float: initial;
      margin-left: 10px;
    }
    .icons{
      margin-left:10px;
      .list-inline{width:100%;line-height:10px;}
    }
    .icon_fb{margin-left:5px;background: url("/img/MOOY_fb_4x.png") no-repeat scroll 0 7px / contain; height: 45px; width: 31px;}
    .icon_fb:hover{background: url("/img/MOOY_fb_4x2.png") no-repeat scroll 0 7px / contain; height: 45px; width: 31px;}
    .icon_pin{margin-left:5px;background: url("/img/MOOY_pt_4x.png") no-repeat scroll 0 7px / contain; height: 45px; width: 31px;}
    .icon_pin:hover{background: url("/img/MOOY_pt_4x2.png") no-repeat scroll 0 7px / contain; height: 45px; width: 31px;}
    .icon_ig{margin-left:5px;background: url("/img/MOOY_ig_4x.png") no-repeat scroll 0 7px / contain; height: 45px; width: 31px;}
    .icon_ig:hover{background: url("/img/MOOY_ig_4x2.png") no-repeat scroll 0 7px / contain; height: 45px; width: 31px;}
  }

.sidebar-nav li a {
  color: #fff;
  font-size: 2rem;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: #969696;
}
  .xs-text-center{
    text-align:center;
  }
}
