
 <!DOCTYPE html>
<!--[if IE 8]>         <html class="lang-zh-TW no-js lt-ie10 lt-ie9" lang="zh-TW"> <![endif]-->
<!--[if IE 9]>         <html class="lang-zh-TW no-js lt-ie10" lang="zh-TW"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="lang-zh-TW no-js" lang="zh-TW"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Whoscall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <meta name="description" content="Whoscall 提供全球7億電話號碼資料庫，快速查詢正確未知號碼來電資訊，過濾惡意電話號碼，接您想接的電話。
">

    <meta property="og:title" content="Whoscall">
    <meta property="og:description" content="Whoscall 提供全球7億電話號碼資料庫，快速查詢正確未知號碼來電資訊，過濾惡意電話號碼，接您想接的電話。
">
    <meta property="og:url" content="http://0.0.0.0:8888/">
    <meta property="og:image" content="http://0.0.0.0:8888/static/images/og-image.png?q=1515163299">

    <meta property="og:site_name" content="Whoscall">
    <meta property="og:type" content="article">
    <meta name="keywords" content="Whoscall, 來電辨識, 電話號碼, 電話查詢, 象卡來, 防詐騙, 反詐騙, 165合作, 165, 封鎖, 象卡來網頁版, 查號台, 封鎖電話, 來電黑名單, 拒接, 安心通話管家, 黃頁" />

    
    <link rel="alternate" href="http://0.0.0.0:8888/en-US/landline/" hreflang="en">
    
    <link rel="alternate" href="http://0.0.0.0:8888/zh-TW/landline/" hreflang="zh">
    
    <link rel="alternate" href="http://0.0.0.0:8888/ko-KR/landline/" hreflang="ko">
    
    <link rel="alternate" href="http://0.0.0.0:8888/ja-JP/landline/" hreflang="ja">
    
    <link rel="alternate" href="http://0.0.0.0:8888/th-TH/landline/" hreflang="th">
    
    <link rel="alternate" href="http://0.0.0.0:8888/pt-BR/landline/" hreflang="pt">
    
    <link rel="alternate" href="http://0.0.0.0:8888/en-US/landline/" hreflang="x-default">
    <meta name="language" content="zh">
    <meta http-equiv="Content-Language" content="zh-TW">
    <meta property="fb:app_id" content="192109880811659">
    <meta name="msvalidate.01" content="83C0ED098D489886F918304C5BF6FCC6">
    <meta property="article:publisher" content="https://www.facebook.com/WhosCall.Taiwan">
    <meta property="article:author" content="https://www.facebook.com/WhosCall.Taiwan">

    
    

    <link rel="apple-touch-icon" sizes="57x57" href="static/images/favicons/apple-touch-icon-57x57.png?q=1515163299">
<link rel="apple-touch-icon" sizes="60x60" href="static/images/favicons/apple-touch-icon-60x60.png?q=1515163299">
<link rel="apple-touch-icon" sizes="72x72" href="static/images/favicons/apple-touch-icon-72x72.png?q=1515163299">
<link rel="apple-touch-icon" sizes="76x76" href="static/images/favicons/apple-touch-icon-76x76.png?q=1515163299">
<link rel="apple-touch-icon" sizes="114x114" href="static/images/favicons/apple-touch-icon-114x114.png?q=1515163299">
<link rel="apple-touch-icon" sizes="120x120" href="static/images/favicons/apple-touch-icon-120x120.png?q=1515163299">
<link rel="apple-touch-icon" sizes="144x144" href="static/images/favicons/apple-touch-icon-144x144.png?q=1515163299">
<link rel="apple-touch-icon" sizes="152x152" href="static/images/favicons/apple-touch-icon-152x152.png?q=1515163299">
<link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/apple-touch-icon-180x180.png?q=1515163299">
<link rel="icon" type="image/png" href="static/images/favicons/favicon-32x32.png?q=1515163299" sizes="32x32">
<link rel="icon" type="image/png" href="static/images/favicons/android-chrome-192x192.png?q=1515163299" sizes="192x192">
<link rel="icon" type="image/png" href="static/images/favicons/favicon-96x96.png?q=1515163299" sizes="96x96">
<link rel="icon" type="image/png" href="static/images/favicons/favicon-16x16.png?q=1515163299" sizes="16x16">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="msapplication-TileImage" content="static/images/favicons/mstile-144x144.png?q=1515163299">
<meta name="theme-color" content="#ffffff">

    
      <link rel="stylesheet" href="static/css/application.min.css?q=1537244786">
      <link rel="stylesheet" href="static/css/biz_header.min.css?q=1537244786">
      <link rel="stylesheet" href="static/css/biz_footer.min.css?q=1537244786">

    

    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="static/css/animate.min.css?q=1537244785"> 
<link rel="stylesheet" href="static/css/landline_index.min.css?q=1537244806"> 

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="static/css/ie8.min.css?q=1537244801">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="static/js/vendor/respond.min.js?q=1515163299"></script>
    <![endif]-->

    <link href="https://plus.google.com/105602039983145947829" rel="publisher">
    <script>
  WebFontConfig = {
    google: { families: [ 'Source+Sans+Pro:400,200,300','PT+Sans' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>

    <!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"Eu1ql1asWhy34B", domain:"whoscall.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=Eu1ql1asWhy34B" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->
    
      <!-- GA setting -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39696468-14', 'auto');
  ga('send', 'pageview');
</script>
    
    <div id="gplussdk"><!--
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
--></div>
    
      
	<!-- Facebook Pixel Code -->
	<script>
	 !function(f,b,e,v,n,t,s)
	 {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	 n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	 if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	 n.queue=[];t=b.createElement(e);t.async=!0;
	 t.src=v;s=b.getElementsByTagName(e)[0];
	 s.parentNode.insertBefore(t,s)}(window, document,'script',
	 'https://connect.facebook.net/en_US/fbevents.js');
	 fbq('init', '379743555542988');
	 fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	 src="https://www.facebook.com/tr?id=379743555542988&ev=PageView&noscript=1"
	/></noscript>
	<!-- Facebook Pixel Code End -->

    
  </head>

  <body class="lang-zh">
    <!--[if lt IE 7]>
      <div class="browsehappy">
        <p>
          You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.
        </p>
      </div>
    <![endif]-->

    <div class="site-container">
      <header class="site-header" itemscope itemtype="http://schema.org/WPHeader">
  <div class="header-container">
    <div class="site-logo-wrapper" itemprop="name">
      <a class="site-logo svg-site-logo-dark-blue svg-site-logo-dark-blue-dims" href="/zh-TW/landline/" itemprop="url"></a>
    </div>

    <button type="button" role="button" aria-label="Toggle Navigation" class="nav-toggle hamburger x">
      <span class="lines"></span>
    </button>
    <nav class="main-navigation">
      <div class="main-navigation-container">
        <ul itemscope itemtype="http://schema.org/SiteNavigationElement">
          <li class="features" itemprop="name"><a href="javascript:;" onclick="window.wirePreOrder.goto('.section-howitworks', 0, 371);">功能介紹</a></li>
          <li class="faq" itemprop="name"><a href="javascript:;" onclick="window.wirePreOrder.goto('.section-faq', 0, 0);">常見問題</a></li>
          <li class="buyit" itemprop="name">
            <a href="javascript:;" onclick="window.wirePreOrder.goto('.section-payment', -74, -62);ga('send', 'event', 'landline/index', 'gotoPrice', 'nav');" itemprop="url">立即預購</a>
          </li>
        </ul>
      </div>
    </nav>

  <div class="nav-mask"></div>
  </div>
</header>

      
<main class="">
  <div class="fixed-btn">
      <a href="javascript:;" onclick="window.wirePreOrder.goto('.section-payment', -74, -62);ga('send', 'event', 'landline/index', 'gotoPrice', 'float');" itemprop="url">限時預購方案<span class="arrowstop"></span></a>
  </div>
  <div class="">
    <div class="main-carousel main-carousel-0">
      <div class="carousel-cell section-1 bg-1 text-center">
        <div class="row">
          <div class="col-12 col-lg-6 offset-lg-6 title-pic-container">
              <div id="js-mkt-btn" class="mkt-btn" onclick="ga('send', 'event', 'landline/index', 'watchPromoBanner', 'topBanner1');">
                <div class="wrapper">
                  <p class="btn-title">現買就抽</p>
                  <p class="btn-sub-title">Gogoro</p>
                  <p><img src="static/images/landline/icon-arrow.png?q=1537244194"></p>
                </div>
              </div>
              <p class="pd-logo animated fadeInUp title-1">象卡來市話版</p>
              <p class="sub-title animated fadeInUp title-2">陌生來電辨識</p>
              <p class="sub-title animated fadeInUp title-3">保護居家市話安全</p>
              <button class="cta d-none d-lg-inline" onclick="window.wirePreOrder.goto('.section-payment', -74, -62);ga('send', 'event', 'landline/index', 'gotoPrice', 'topBanner1');">限時預購</button>
              <button class="cta white d-none d-lg-inline js-play-video" onclick="ga('send', 'event', 'landline/index', 'watchVideo', 'topBanner1');">觀看介紹影片<span class="video-play-icon"></span></button>
              <p class="text_free">每月只要<span>$25</span>元，給家人多一份保障！</p>
            <div class="title-landline">
              <div class="title-landline-mask"><img src="static/images/landline/hero_empty.png?q=1537244194"></div>
              <video playsinline autoplay loop muted src="static/images/landline/device_animation_crop_wild.mp4?q=1537244194">
              </video>
            </div>
            <button class="cta white d-lg-none js-play-video" onclick="ga('send', 'event', 'landline/index', 'watchVideo', 'topBanner1');">觀看介紹影片<span class="video-play-icon"></span></button>
            <button class="cta d-lg-none" onclick="window.wirePreOrder.goto('.section-payment', -74, -62);ga('send', 'event', 'landline/index', 'gotoPrice', 'topBanner1');">限時預購</button>
          </div>
        </div>
      </div>
      <div class="carousel-cell section-1 bg-6 text-center">
        <div class="row">
        </div>
      </div>
    </div>
  </div>
  <div class="section-2 section-howitworks text-center bg-white">
    <div class="section-2-bg d-lg-none"></div>
    <div class="slide slide-1 animated">
      <h3>過去十年民眾報案的被騙損失總金額高達 893.5 億元</h3>
      <p>內政部警政署刑事警察局</p>
    </div>
    <div class="slide slide-2 animated">
      <h3>台灣每年約有兩萬多件已知電話詐騙案，未報案還更多</h3>
      <p>內政部警政署刑事警察局</p>
    </div>
    <div class="slide slide-3 animated">
      <h3>超過 7 成以上長者接過詐騙電話，其中又以接過 6 次以上的比率最高</h3>
      <p>政治大學調查報告</p>
    </div>
  </div>
  <div class="section-3-1 section-howitworks text-center bg-2">
    <div class="bg-white d-none d-lg-block"></div>
    <div class="row">
      <div class="col-12 col-lg-6 text-lg-right title-container">
        <div class="works-1-phone"><img src="static/images/landline/phone_compressed.png?q=1537244194"></div>
        <div class="works-1-landline"><img src="static/images/landline/front_UI.png?q=1537244194"></div>
      </div>
      <div class="col-12 col-lg-6 title-pic-container offset-lg-100 d-lg-block">
        <div class="works-1-icon"><img class="" src="static/images/landline/ic_callerid.png?q=1537244194"></div>
        <h2 class="sub-title">一聲來電，立即辨識</h2>
        <h4>立即辨識來電資訊，不論詐騙電話或騷擾電話通通一網打盡。識破來電者，讓您不再遲疑。</h4>
        <div class="row-features">
          <div class="works-1-features"><span class="icon-check2"></span>可疑電話</div>
          <div class="works-1-features"><span class="icon-check2"></span>推銷號碼</div>
          <div class="works-1-features"><span class="icon-check2"></span>客服號碼</div>
          <div class="works-1-features"><span class="icon-check2"></span>騷擾電話</div>
          <div class="works-1-features"><span class="icon-check2"></span>公司行號</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-3-2 section-howitworks text-center bg-white">
    <div class="row">
    <div class="col-12 col-lg-6 title-pic-container d-lg-block">
        <div class="works-2-icon"><img class="" src="static/images/landline/ic_thief.png?q=1537244194"></div>
        <h2 class="sub-title">最新、最即時的<br>防詐騙資料庫</h2>
        <h4>透過家中無線網路，自動更新即時詐騙資料，利用超過10億筆電話資料並同步警方165防詐騙資料庫，詐騙電話辨識率達90%以上。</h4>
      </div>
      <div class="col-12 col-lg-6 text-lg-right title-container">
        <div id='lake'>
          <div id='sploutch'>
            <div id='ripples'>
              <div class='ripple'></div>
              <div class='ripple'></div>
            </div>
          </div>
        </div>
        <div class="works-2-whoscall"><img src="static/images/landline/ic_whoscall_sever.png?q=1537244194"></div>
        <div class="works-2-landline"><img src="static/images/landline/top-shadow_ui.png?q=1537244194"></div>
      </div>
    </div>
  </div>
  <div class="section-3-3 section-howitworks text-center bg-gray">
      <div class="row">
        <div class="col-12 col-lg-6 text-lg-right title-container">
          <div class="works-3-landline"><img src="static/images/landline/back-shadow.png?q=1537244194"></div>
          <div class="works-3-input">
            <div class="wording-input">家中電話線</div>
            <div class="wording-output">市話機</div>
            <svg width="700px" height="157px" viewBox="0 0 105 173" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <polygon id="Triangle" fill="#8A8F9B" points="14 128 14 168 26 148">
                <animateMotion id="b1" path="M 0 0 H 66" dur="0.2s" fill="freeze" begin="indefinite" onbegin="$('.works-3-input .connect-input').attr('class', 'path-input');" onend="$('#dot-output').show();$('#triangle-output').show();"/>
                <animateMotion id="b3" path="M 66 0 V -130" dur="0.24s" fill="freeze" begin="b1.end" />
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 18 148" to="-90 18 148" dur="0.1s"
                  fill="freeze" begin="b1.end" />
              </polygon>
              <path class="connect-input" d="M9 149 L84 149 L84 11" stroke="#8A8F9B" stroke-width="5" fill="none" />
              <circle cx="8" cy="149" r="8" fill="#8A8F9B"></circle>
              <circle id="dot-output" cx="220" cy="15" r="8" fill="#8A8F9B"></circle>
              <path class="connect-output" d="M220 11 L220 149 L295 149" stroke="#8A8F9B" stroke-width="5" fill="none" />
              <polygon id="triangle-output" fill="#8A8F9B" points="200 23 240 23 220 39" fill="#8A8F9B">
                <animateMotion id="b2" path="M 0 0 V 130" dur="0.35s" fill="freeze" begin="b3.end" onbegin="$('.works-3-input .connect-output').attr('class', 'path-output');"/>
                <animateMotion path="M 0 130 H 66" dur="0.16s" fill="freeze" begin="b2.end" />
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 220 18" to="-90 220 18" dur="0.1s"
                  fill="freeze" begin="b2.end" />
              </polygon>
            </svg>
          </div>
        </div>
        <div class="col-12 col-lg-6 title-pic-container offset-lg-100 d-lg-block">
          <div class="works-3-icon"><img class="" src="static/images/landline/ic_quicksetting.png?q=1537244194"></div>
          <h2 class="sub-title">簡單設定，2步搞定</h2>
          <h4>電話線一接，連接 Ｗi-Fi 網路，立即為您辨識所有來電！</h4>
        </div>
      </div>
    </div>
  <div class="section-4-1 section-payment text-center bg-3">
    <h2>方案選擇</h2>
    <h4>3/26～4/4老客戶回饋方案，預購優惠限量3000台，預計4/30開始出貨。</h4>
    <div class="price__list-item-default price__list-item active" id="wire_pod_a">
      <div class="price__list-item__plan--title">
        <span class="plan-name">限時早鳥預購</span>
        <span class="price-label">3折 !</span>
      </div>
      <div class="price__list-item__plan">
        <div class="price__list-item__plan--price">
          <span class="price__list-item__plan--price--icon">NT$</span>
          <span class="price__list-item__plan--price--price">25</span>
          <span class="price__list-item__plan--price--month">/每月</span>
        </div>
      </div>
      <div class="price__list-item__detail">
        <ul class="price__list-item__detail-items">
          <li class="price__list-item__detail-item">
            <span class="detail-item-desc">綁約 3 年<br>主機 <S>NT$1,000</S><br>合約內保固<br>免運費</span>
          </li>
        </ul>
      </div>
      <div class="price__list-item__action">
        <!-- <div class="price__button" v-if="product.status == 2">
          <a class="btn btn-current">已賣完</a>
        </div> -->
        <a href="javascript:;" onclick="ga('send', 'event', 'landline/index', 'buy', 'one');" class="js-payment" data-pid="wire_pod_a" data-name="限時早鳥預購" data-price="899">
          <div class="price__button" v-else-if="product.status == 1">
            立即購買
          </div>
        </a>
        <span class="price-desc">總價三年 NT$899 一次付清</span>
      </div>
    </div>
    <div class="price__list-item-default price__list-item offset-60" id="wire_pod_d">
      <div class="price__list-item__plan--title">
        <span class="plan-name">正式方案</span>
      </div>
      <div class="price__list-item__plan">
        <div class="price__list-item__plan--price">
          <span class="price__list-item__plan--price--icon">NT$</span>
          <span class="price__list-item__plan--price--price">99</span>
          <span class="price__list-item__plan--price--month">/每月</span>
        </div>
      </div>
      <div class="price__list-item__detail">
        <ul class="price__list-item__detail-items">
          <li class="price__list-item__detail-item">
            <span class="detail-item-desc">免綁約<br>主機 NT$1,000<br>合約內保固<br>免運費</span>
          </li>
        </ul>
      </div>
      <div class="price__list-item__action">
        <!-- <div class="price__button" v-if="product.status == 2">
          <a class="btn btn-current">已賣完</a>
        </div> -->
        <div class="price__button" v-else-if="product.status == 1">
          <a class="btn-disable" href="javascript:;">五月正式開賣</a>
        </div>
        <span class="price-desc">首月付款 NT$1,099，次月起 NT$99</span>
      </div>
    </div>
  </div>
  <div class="section-5 section-faq text-center bg-white">
    <div class="d-lg-flex faq-card-wrapper">
      <div class="faq-card-1 faq-card text-left"><div class="faq-question">象卡來市話版的安裝環境需求？</div>凡舉家中或辦公室有市話，並且還沒安裝總機（包含數位或類比都算），有寬頻網路，都可以使用。如果內容過長會...</div>
      <div class="faq-card-2 faq-card text-left"><div class="faq-question">我是透過早鳥方案購買的，綁約兩年過後我可以如何繼續使用？</div>兩年後您可以繼續購買其他訂閱方案繼續使用，不須重新購買主機。...</div>
      <div class="faq-card-3 faq-card text-left"><div class="faq-question">購買後有七天鑑賞期嗎？如果我想退貨，我可以怎麼做呢？</div>依據消費者保護法的規定，您享有商品貨到次日起七天鑑賞期的權益。鑑賞期內如須退貨，請來信或來電至客服內容......</div>
    </div>
    <div class="more"><a href="/support/faq/landline/"  onclick="ga('send', 'event', 'landline/index', 'moreFAQ', 'faqSection');">更多常見問題<span class="arrowstop"></span></a></div>
  </div>
  <footer class="site-footer" itemscope="" itemtype="http://schema.org/WPFooter">
    <div class="site-footer-container">
      <div class="site-footer__header">
        <nav class="site-footer__main-nav">
          <ul>
            <li>
              <div class="d-none d-lg-block"><b>象卡來市話版</b></div>
              <div class="d-lg-none" onclick="window.wirePreOrder.show('footer-1')"><b>象卡來市話版</b><span class="icon-footer-arrow-down"></span></div>
              <div class="link-wrapper d-mobile-none" id="footer-1">
                <a class="footer-about-us" href="/support/faq/landline/specs" itemprop="url">硬體規格</a>
                <a class="footer-careers" href="/support/faq/landline/" itemprop="url">常見問題</a>
              </div>
            </li>
  
            <li>
              <div class="d-none d-lg-block"><b>相關條款</b></div>
              <div class="d-lg-none" onclick="window.wirePreOrder.show('footer-2')"><b>相關條款</b><span class="icon-footer-arrow-down"></span></div>
              <div class="link-wrapper d-mobile-none" id="footer-2">
                <a class="footer-press" href="/support/android/terms/" itemprop="url">服務條款</a>
                <a class="footer-mediakit" href="/support/android/privacy/" itemprop="url">隱私權政策</a>
              </div>
            </li>
            <li>
              <div class="d-none d-lg-block"><b>聯絡我們</b></div>
              <div class="d-lg-none" onclick="window.wirePreOrder.show('footer-3')"><b>聯絡我們</b><span class="icon-footer-arrow-down"></span></div>
              <div class="link-wrapper d-mobile-none" id="footer-3">
                <a class="footer-terms" href="/zh-TW/support/terms/" itemprop="url">03-5160108</a>
                <a class="footer-privacy" href="mailto:whoscall.landline@gogolook.com?subject=聯絡客服-Whoscall象卡來市話版&body=請務必留下正確資料，我們將盡快為您服務，謝謝！您的姓名：聯絡電話：電子信箱：產品序號：(請看主機底部貼紙左下方，由英文與數字組成，共9碼)反映內容：" itemprop="url">whoscall.landline@gogolook.com</a>
                <a class="footer-faq" href="/zh-TW/support/faq/" itemprop="url">客服時間為週一至週五 09:30~17:30</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
      <div class="site-footer__panel">
        <div class="site-footer__panel__copyright">© 2018 走著瞧股份有限公司</div>
      </div>
    </div>
  </footer>
</main>

    </div>

    

    
    

    <div id="fb-root"></div>
<div id="facebooksdk"><!--
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=192109880811659&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
--></div>
    <div id="twittersdk"><!--
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(/MSIE [678]/.test(window.navigator.userAgent)){d.querySelectorAll('.twitter-button')[0].style.display='none';return}if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>
--></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery.js?q=1515163299">\x3C/script>')</script>
    <script src="static/js/application.min.js?q=1537244798"></script>
    <script src="static/js/vendor.min.js?q=1515163299" async defer></script>
    <script>
      window.Whoscall.CONSTANTS.base_url = 'https://whoscall.local:8888/';
    </script>

    
      <script src="static/js/new-footer.min.js?q=1537244798"></script>
      <script src="static/js/new-header.min.js?q=1537244798"></script>
    

    
<script type="text/javascript" src="static/js/landline_index.min.js?q=1537244798"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script> -->
<script type="text/javascript">
var orurl = "http://0.0.0.0:8080/console/paycheck/landline/";
var paymentUrl = "http://0.0.0.0:8080/console/checkout";
</script>

  </body>
</html>