body {
  background: #f6f6f9;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.chat {
  margin: 0 auto;
  width: 90%;
  max-width: 360px;
}
p.time {
  font-size: 12px;
  color: #8a8f9b;
  clear: both;
  margin: 0 0 20px 0;
}
p.time.them {
  float: left;
}
p.time.me {
  float: right;
}
p.message {
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #fff;
  max-width: 75%;
  clear: both;
  position: relative;
}
p.message.them {
  float: left;
  color:#263147;
}
p.message.them::after {
  content: "";
  position: absolute;
  left: -0.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-right: 0.5em solid #fff;
  border-bottom-right-radius: 1em 0.5em;
}
p.message.me {
  float: right;
  background-color: #263147;
  color: white;
}
p.message.me::after {
  content: "";
  position: absolute;
  right: -0.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-left: 0.5em solid #263147;
  border-bottom-left-radius: 1em 0.5em;
}
ul {
    padding: 0;
    list-style-type: none;
}
/*enter-message*/
.enter-message{
  padding:42px 0px;
  clear: both;
  display: -webkit-flex;
  display: flex;
  max-width: 360px;
  margin: 0 auto;
}
.enter-message input{
  border:none;
  padding:10px 12px;
  background:#d3d3d3;
  -webkit-flex: 1;
          flex: 1;
  margin: 0 6px;
  border-radius:2px;
}
.enter-message a.send{
  padding:10px 15px;
  background:#5d5d5d;
  border-radius:2px;
  margin-right:6px;
  float:right;
  color:#fff;
  text-decoration: none;
}
.blockmessage{
  padding:42px 0px;
  clear: both;
  text-align: center;
  font-size: 12px;
  color: #8a8f9b;
}
